# Logs
logs
*.log
*.log.7z

# Database
db/
/db

# Duplicate files
/testdb

# Temporary files
temp/

# Dependency directories
node_modules/

# Not leaking secrets today :)
.env
.env.7z

# Node Modules
/node_modules

# Other stuff :)
CTF.txt

# Server certificates
server.key
server.cert

# Old files
*/old

# Twitter user data
/twitter/html/

# Twitter stuff
/twitter/