:root {
    --background-colour: #11191f;
}

body {
    background-color: var(--background-colour);
}

nav {
    height: 25px;
    width: 25px;

    position: fixed;

    left: 50%;
    top: 50%;

    background-color: #fbfbfb;
}