  .link {
    color: #502898;
    text-decoration: none;
  }
  body { background: #333537; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }

  :root {
    --colour-daalbotpurple: #502898;
    --colour-background: #333537;
    --colour-foreground: #282424;
  }

  body {
    overflow-x: hidden;
  }

  .section {
    background: rgb(28, 26, 30);
    border-radius: 4%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    height: 400px;
    margin: 100px auto;
    position: relative;
    width: 100%;
  }

  .section2 {
    background: rgb(28, 26, 30);
    border-radius: 4%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    height: 400px;
    margin: 100px auto;
    position: relative;
    width: 100%;
    justify-content: center;
  }

  .section2 p {
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .section2 h2 {
    color: rgb(146, 32, 180);
    font-size: 1.5em;
    font-weight: 300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 1em 0;
    text-align: center;
  }

.section3 {
  background: rgb(28, 26, 30);
  border-radius: 4%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  height: 400px;
  margin: 100px auto;
  position: relative;
  width: 100%;
  height: 280px;
  justify-content: center;
}

.section3 p {
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.section3 h2 {
  color: rgb(146, 32, 180);
  font-size: 1.5em;
  font-weight: 300;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
  padding: 1em 0;
  text-align: center;
}

  .section p {
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .section h2 {
    color: rgb(146, 32, 180);
    font-size: 1.5em;
    font-weight: 300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 1em 0;
    text-align: center;
  }

  .panel {
    background: rgb(50, 47, 47);
    border-radius: 15px;
    height: 300px;
    margin: 100px auto;
    position: relative;
    padding: 35px;
    border-color: #333537;
    border-width: 25px;
    border-style: solid;
    width: 250px;
    grid-gap: 10px;
    display: inline-grid;
  }

  .panel p {
    color: #fff;
    font-size: 1.3em;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .hamburger-button-div {
    background: transparent;
    margin: 100px auto;
    position: absolute;
    height: 50px;
    width: 50px;
    grid-gap: 10px;
    padding: 10px;
  }

  .panel a {
    color: rgb(56, 31, 145);
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 35px;
    position: absolute;
    /* Make text appear in the bottom of the div */
    bottom: 10px;
    left: 55px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: rgb(23, 21, 21);
    border-radius: 4%;
    text-decoration: none;
  }

  .panel img {
    width: 25px;
    height: 25px;
    position: absolute;
    /* Make the image appear at the top of the div */
    top: 10px;
    left: 55px;
  }

  table {
    border-radius: 4%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 5px solid #202122;

    /* Center the table is the center */
    margin-left: auto;
    margin-right: auto;
  }

  th, td {
    text-align: center;
    padding: 16px;
  }
  
  th:first-child, td:first-child {
    text-align: left;
  }
  
  /* tr:nth-child(even) {
    background-color: #f2f2f2
  } */
  
  .fa-check {
    color: green;
  }
  
  .fa-remove {
    color: red;
  }

  .ServerAmount {
    color: rgb(132, 48, 147);
  }

  button {
    background-color: rgb(56, 31, 145);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    justify-self: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4%;
  }

  .button {
    background-color: rgb(56, 31, 145);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    justify-self: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4%;
  }

  .subsections {
    /* Create a grid of sections with 25 px of padding */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-gap: 25px; */
    /* padding: 25px; */
  }

  .subsection {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

    /* background: purple;*/ /*Remove once size is right */

    position: sticky;
    bottom: 0px;

    border-radius: 4%;
    border-color: rgb(28, 26, 30);
    border-width: 25px;
  }

  /* Create a grid of circle icons in a line */
  .circle-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 10px;
    padding: 10px;
  }

  .circle-icon {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

    /* background: purple;*/ /*Remove once size is right */

    position: sticky;
    bottom: 0px;

    border-radius: 50%;
    border-color: rgb(28, 26, 30);
    border-width: 25px;
  }

  .circle-icon img {
    width: 50px;
    height: 50px;
    position: absolute;
    /* Make the image appear at the top of the div */
    top: 10px;
    left: 55px;
  }

  .circle-icon a {
    text-decoration: none;
    height: 50px;
    width: 50px;
  }

  .section-form {
    display: grid;
    grid-gap: 25px;
    padding: 25px;
    background: rgb(28, 26, 30);
    border-radius: 4%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    /* height: 500px; */
    margin: 100px auto;
    position: relative;
    width: 77%;
    justify-content: center;
  }

  .section-form h2 {
    color: rgb(146, 32, 180);
    font-size: 1.5em;
    font-weight: 300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 1em 0;
    text-align: center;
  }

  .section-form input {
    border: 7px solid rgb(45, 43, 48);
    border-radius: 4%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    font-size: 1em;
    padding: 0.5em;
    width: 75%;
    height: 25px;
  }

  .section-form label {
    color: rgb(146, 32, 180);
    font-size: 1.5em;
    font-weight: 300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 1em 0;
    align-self: center;
    justify-self: center;
  }

  .section-form textarea {
    border: 7px solid rgb(45, 43, 48);
    border-radius: 4%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    font-size: 1em;
    padding: 0.5em;
    width: 77%;
    height: 100px;
    resize: none;
  }

  .section-form select {
    border: 7px solid rgb(45, 43, 48);
    border-radius: 4%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    font-size: 1em;
    padding: 0.5em;
  }

  .section-bottom {
    background-color: var(--colour-foreground);
    display: grid;
    grid-gap: 5px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
  }

  .section-bottom .link {
    text-align: center;
    border-radius: 4%;
    padding: 5px;
    border: rgb(33, 29, 34) 3px solid;
  }