ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(21, 61, 179);
    text-align: center;
    padding: 14px 16px;
    border: white;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }