  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(21, 61, 179);
    text-align: center;
    padding: 14px 16px;
    border: white;
    text-decoration: none;
  }
  
  li a:hover {
    /* Gradually change the colour in the background from #333 to #502898 */
    transition: all .5s ease-in;
    background-color: #502898;
  }

  li a:not(:hover) {
    /* Gradually change the colour in the background from #502898 to #333 */
    transition: all .5s ease-in;
    background-color: #333;
  }